
<div ng-controller="AUMBRA.MultiNodePicker" class="umb-editor umb-contentpicker usky-grid aumbra treepicker-controller">

    <ul ng-model="renderModel">
        <li ng-repeat="node in renderModel">
            <div class="inner">
                <h1>{{node.name}}</h1>
                <a class="btn white" ng-click="remove($index)"><localize key="general_delete">Remove</localize></a>
            </div>
            <div class="backdrop" ng-style="{'background-image': 'url(' + node.imageUrl + ')'}"></div>
        </li>
    </ul>

    <ul class="unstyled list-icons">
        <li>
            <i class="icon icon-add blue"></i>
            <a href ng-click="openContentPicker()" prevent-default>
                <localize key="general_add">Add</localize>
            </a>
        </li>
    </ul>
</div>
